* { box-sizing: border-box; }

.left {
    background-color: salmon ;
    padding: 10px;
    flex: 33.33%;
}

.center {
    background-color: sandybrown;
    padding: 10px;
    flex: 33.33%;
}

.right {
    background-color: seagreen;
    padding: 10px;
    flex: 33.33%;
}

.flex-container {
    /* 직계자손이 flex 요소가 된다. */
    display: flex;
    /* 가로로 정렬함 */
    flex-direction: row;
    font-size: 32px;
    text-align: center;
}

/* 반응형 웹은 무조건 미디어 쿼리 들어간다. */
/* not|only 적어도 되고 안 적어도 된다. all이나 screen 적어주는데, 화면 선택하는 것. and는 추가 조건.max-width 나 min-width를 많이 사용한다. */
/* max-width 사용 시 */
/* 576px */
/* 768px */
/* 992px */
/* 1200px */
/* 위 네 가지 크기를 기준으로 해준다. 보통. -> bootstrap을 기준으로 함. */
@media screen and (max-width: 576px) {
    .flex-container {
        flex-direction: column;
    }
}