.flex-container {
    display: flex;
    background-color: rosybrown;
    margin-bottom: 15px;
}

.div03 .card1 {
    flex-direction: column;
}
.div03 .card2 {
    flex-direction: column-reverse;
}

.div03 .card3 {
    flex-direction: row;
}

.div03 .card4 {
    flex-direction: row-reverse;
}

.flex-container > div {
    background-color: yellow;
    width: 100px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    /* 줄간격 */
    line-height: 75px;
}

.div04 .wrap {
    flex-wrap: wrap;
}
.div04 .wrap-reverse {
    flex-wrap: wrap-reverse;
}
.div04 .nowrap {
    flex-wrap: nowrap;
}

.div05 .flex-flow {
    flex-flow: row wrap;
}

.div06 .center {
    justify-content: center;
}
.div06 .flex-start {
    justify-content: flex-start;
}
.div06 .flex-end {
    justify-content: flex-end;
}
.div06 .space-around {
    justify-content: space-around;
}
.div06 .space-between {
    justify-content: space-between;
}

.flex-container2 {
    display: flex;
    height: 200px;
    background-color: sandybrown;
}

.flex-container2 > div {
    background-color: springgreen;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 32px;
} 

.div07 .vertical-center { align-items: center; }
.div07 .vertical-flex-start { align-items: flex-start; }
.div07 .vertical-flex-end { align-items: flex-end; }
.div07 .stretch { align-items: stretch; }
.div07 .baseline { align-items: baseline; }


.flex-container3 {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    background-color: steelblue;
}

.flex-container3 > div {
    background-color: antiquewhite;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 32px;
}

.div08 .space-between { align-content: space-between; }
.div08 .space-around { align-content: space-around; }
.div08 .stretch { align-content: stretch; }
.div08 .center { align-content: center; }
.div08 .flex-start { align-content: flex-start; }
.div08 .flex-end { align-content: flex-end; }